<div class="container-fluid mt-2">
  <div class="card">
    <div class="card-header d-flex justify-content-center fs-1">
      Skeleton loader with Angular </div>
    <div class="card-body">
      <div class="p-3">
        <table class="table table-success table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading" class="m-3">
            <tr *ngFor="let obj of fetchedAPiData | slice: 0 :10">
              <td> {{obj.id}} </td>
              <td> {{obj.name}} </td>
              <td> {{obj.email}} </td>
              <td> {{obj.body}} </td>
            </tr>
          </tbody>

        </table>
        <div *ngIf="isLoading">
          <ngx-skeleton-loader class="h-3" count=10 appearance="line" />
        </div>
      </div>
    </div>
  </div>

</div>
